<div class="container">
    <h1>About Us</h1>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut purus neque, tincidunt nec hendrerit condimentum, lobortis eu dolor. 
    Sed ullamcorper eros sed lectus egestas, at finibus velit lacinia. Quisque eget bibendum dolor, 
    in consequat ex. Sed quis rutrum sem. Nullam eget mauris ligula. Nunc mattis commodo elit vitae vehicula. 
    Maecenas finibus convallis quam venenatis tincidunt. Cras mattis ut est non elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>

    <p>Quisque gravida nisi nec orci lacinia bibendum. Nunc nec iaculis leo, a commodo purus. 
    Praesent gravida elementum tellus, bibendum feugiat nunc semper et. Donec rhoncus, elit nec scelerisque aliquam, 
    quam dolor ultrices purus, sed condimentum urna quam et orci. Interdum et malesuada fames ac ante ipsum primis 
    in faucibus. Nullam auctor justo nec nisl laoreet, non vulputate erat dictum. Morbi malesuada tempor odio, 
    vitae sollicitudin leo ultricies sollicitudin. Curabitur rhoncus, mauris id volutpat commodo, 
    urna nulla maximus nisl, a luctus augue lacus id est. Duis ullamcorper enim sed turpis ultrices dictum. </p>
    <br>
    <%= link_to('Contact Us',{:action => 'contact', :country => 'us'})%>
</div>