<div class="container">
    <h1>Contact Us</h1>

    <p>You can Contact us from all over the World. We are always happy to hear from our customer'</p>

    <p>Phone: <%= @phone %></p>

    <p>Press: <%= mail_to('info@simpleCmS.com') %></p>

    <br>

    <%= link_to('About Us',{:action => 'about'}) %>

</div>