<div class="jumbotron jumbotron-fluid bg-white"> 
<div class="container">
    <h1 class="display-5">Hello Friends!</h1>
    <p class="display-4">This is a simple CMS app. Please login to be able to discover the content of my simple CMS.
    </p>
    
    <p>Are you new? <%= link_to('Signup here', signup_path, class: "btn btn-primary btn-lg") %></p>
    
    
</div> 
</div>